{% extends "admin/change_list.html" %}
{% load simple_tag i18n %}

{% block result_list %}
    {% data_loading as data_loading %}
    {% block pagination %} {{ block.super }} {% endblock %}
    {% if data_loading.0 %}
        <div class="errornote loading-message">{% trans 'Data not loaded yet, please wait...' %}</div>
    {% elif data_loading.1 %}
        <div class="errornote loading-message">{% trans 'Data syncronization failed. Try later and contact administrator if failing repeats.' %}</div>
    {% endif %}
    {{ block.super }}
{% endblock %}
